<!DOCTYPE HTML>
<html>
	<head>
	
		<title>J1 Practice</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<style>
			.formfield{margin-bottom:10px;}
		</style>
	</head>
	<body>

	<p>BasketBall <a href="https://cemc.uwaterloo.ca/contests/computing/2019/stage%201/juniorEF.pdf">from the J1 problem hosted by the CCC.</a></p>
	<div id="app">
		<div class="formfield">
			<label>Apples Free Throw: <label> <input v-model="apple_1P">
		</div>
		<div class="formfield">
			<label>Apples 2 Pointer: <label> <input v-model="apple_2P">
		</div>
		<div class="formfield">
			<label>Apples 3 Pointer: <label> <input v-model="apple_3P">
		</div>
		<div class="formfield">
			<label>Bananas Free Throw: <label> <input v-model="banana_1P">
		</div>
		<div class="formfield">
			<label>Bananas 2 Pointer: <label> <input v-model="banana_2P">
		</div>
		<div class="formfield">
			<label>Bananas 3 Pointer: <label> <input v-model="banana_3P">
		</div>
		<div id="result">
			<!-- If elseif else statement -->
			<div>Apples total: {{apple_total}}</div>
			<div>Bananas total: {{banana_total}}</div>
			<div v-if="tie">T</div>
			<div v-else-if="apple_won">A</div>
			<div v-else="banana_won">B</div>
		</div>
	</div>
	
	<script>
	var app = new Vue({
		el: '#app',
		data:{
			apple_1P:0,
			apple_2P:0,
			apple_3P:0,
			banana_1P:0,
			banana_2P:0,
			banana_3P:0,
			one_pointer:1,
			two_pointer:2,
			three_pointer:3
		},
		computed:{
			apple_total:function(){
				return (this.apple_1P * this.one_pointer) +
				(this.apple_2P * this.two_pointer) +
				(this.apple_3P * this.three_pointer);
			},
			banana_total:function(){
				return (this.banana_1P * this.one_pointer) +
				(this.banana_2P * this.two_pointer) +
				(this.banana_3P * this.three_pointer);
			},
			apple_won:function(){
				return(this.apple_total > this.banana_total);
			},
			banana_won:function(){
				return(this.banana_total > this.apple_total);
			},
			tie:function(){
				return(this.apple_total == this.banana_total);
			}
		}
	});
	
	</script>


	<!--
		v-model will allow you to quickly bind form elements to the data property.
		Make sure to set a default value!
		The Computed property can be used like data, except for values that are calculated from data properties.
		In this example 'treat_total' is computed from data properties, and 'is_happy' is computed from 'treat_total'.
		
		ASYNCHRONOUS LEARNING EXERCISE : J1
		- Find any J1 problem
		- Imagine an interface that allows the user to enter data on the webpage
		- Build using v-model and computed properties!
	
	-->
	</body>
</html>